* {
  font-family: JetBrainsMono Nerd Font Mono, monospace;
  font-size: 12px;
  color: #C0CAF5; /* Light text */
}

window#waybar {
  background-color: #1A1B26; /* Dark background */
}

#workspaces button {
  background: transparent;
  color: #C0CAF5;
  border-radius: 0px;
  padding: 4px 8px;
}

#workspaces button.active {
  background: #F7768E; /* Red neon for active */
  color: #1A1B26;
}

#workspaces button:hover {
  background: #7DCFFF; /* Cyan hover */
  color: #1A1B26;
}

#clock {
  padding: 0 10px;
}

#battery,
#network,
#pulseaudio,
#cpu,
#bluetooth,
#memory,
#temperature {
  padding: 0 10px;
  font-size: 16px;
}

#clock:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover,
#cpu:hover,
#bluetooth:hover,
#memory:hover,
#temperature:hover {
  background: #414868;
  border-radius: 0px;
}

